.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Public Sans', sans-serif;
    Font size: 20px;
    height: 100%;
    width: 100%;

}

.nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    position: absolute;
    background-color: rgb(247, 247, 247);
    align-items: center;
    z-index: 3;
}

.myBtn {
    display: none;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    color: gray;
}

.mobile-bg {
    display: none;
}

.modal,
.modal-content {
    display: none;
}

.invitebutton {
    font-weight: 400;
    font-size: 15px;
    width: 150px;
    color: white;
    background: linear-gradient(90deg, rgb(49, 211, 92), rgb(43, 183, 218));
    border-radius: 25px;
    padding: 12px;
    border: 0px;
}

.invitebutton:hover {
    cursor: pointer;
}

p {
    color: gray;
}

.navlinks li {
    text-decoration: none;
    list-style: none;
    /* padding-bottom: 20px; */
}

.navlinks li:hover {
    cursor: pointer;
    border-bottom: 5px solid rgb(49, 211, 92);
}

/* block1 */
.block1 {
    display: flex;
    align-items: center;
    height: 120vh;
    width: 100vw;
    flex: 1;
    flex-wrap: wrap;


}

.infoblock {
    display: flex;
    justify-content: center;
    width: 40vw;
    margin: 0;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

.bigbg {

    margin: 0;
    width: 60vw;
    height: 120vh;
    background: url("./images/bg-intro-desktop.svg") no-repeat 8% 68%;


    overflow-y: visible;
    overflow-x: hidden;


}

.mobiles {
    position: relative;
    z-index: 2;
    top: -60px;
    right: -100px;

}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.image {
    width: 300px;
    height: 200px;
}

/* block2 */
.block2 {
    height: 80vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;

}

.easy {
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
}

.card {
    height: 60%;
}

div.card img,
h3,
p {
    margin-bottom: 10px;
}

/* block3 */
.block3 {

    display: flex;
    flex-direction: column;

}

.heading {
    margin: 10vh 0 10vh 4vw;
}

.block3 .cards {
    margin-left: 2vw;
}



.textbox {
    display: flex;
    justify-content: center;
}

.txt h3:hover {
    cursor: pointer;
    color: #32CD32
}

/* footer */
footer {
    margin-top: 10vh;
    height: 25vh;
    background-color: #202547;
    display: flex;
}

.footer-block1 {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.footer-block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 20%;
}

.footerbox1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialsites {
    display: flex;
    justify-content: space-between;
}

.socialsites img:hover {
    cursor: pointer;
    background-color: green;
}

.footerbox2 {
    align-self: center;
}

.footerbox2 li {
    color: white;
    text-decoration: none;
    list-style: none;
    margin-bottom: 15%
        /* padding-bottom: 20px; */
}

.footerlink li:hover {
    cursor: pointer;
    color: green;
}

.footerbox3 {
    align-self: center;
}

.footerbox3 li {
    color: white;
    text-decoration: none;
    list-style: none;
    margin-bottom: 15%;
    /* padding-bottom: 20px; */
}




@media(max-width:768px) {
    body {
        padding: 0;
        margin: 0;
    }

    .nav {
        width: 100%;
    }


    .info {
        height: auto;
        margin: 20px 0 20px 0;
        text-align: center;


    }



    .info .invitebutton {
        align-self: center;
    }

    .info p {
        width: 100vw;
    }

    .infoblock {
        order: 2;
        height: auto;
        margin: 20px 0 150px 0;
        /* text-align: center; */
    }

    .easy {
        margin-top: 10px;
        text-align: center;

    }

    .navlinks,
    nav .invitebutton {
        display: none;
    }


    /* modal-dropdown */

    .myBtn {
        display: inline;
    }



    .modal {

        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }


    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .modal-links {
        list-style: none;

    }

    .modal-links li {
        margin: 5px;
        font-size: large
    }

    .modal-links li:hover {
        cursor: pointer;
        background-color: lime;
        font-size: larger;
        font-weight: 900;
    }


    .close {
        align-self: end;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    /* block1 */

    .bigbg {
        order: 1;
        display: none;
    }

    .mobile-bg {
        display: flex;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background: url("./images/bg-intro-mobile.svg") no-repeat;
        background-size: cover;
    }


    .block1 {
        position: relative;
        top: 100px;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;

    }

    .mobile {
        height: 100%;
        width: 100%;
    }

    .block2 {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
    }

    .cards {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 20px 0 20px 0;
    }

    .card {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer {
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }

    .footer-block1 {
        width: 100vw;
        flex-direction: column;
    }

    .footer-block2 {
        width: 100%;
    }

    .footerbox1 {
        margin: 20px;
        align-items: center;
    }

    .socialsites {
        margin: 20px;
    }

    .socialsites img {
        margin-left: 10px;
    }

    .footerbox3,
    .footerbox2 {
        text-align: center;
        margin: 10px
    }

    .footerbox3 li,
    .footerbox2 li {
        margin-top: 10px;
    }

    .footer-block2 {
        margin: 10px 0 10px 0;
        width: 100%;
        align-items: center;

    }

    .footer-block2 .invitebutton {
        margin-bottom: 10px;
    }

    h1.heading {
        text-align: center;
    }
}